body {
    display: block;
    margin: 8px;
	font-family: Garamond, serif;
	background-image: url(Forest.jpg);
}

header {
    display: block;
	padding-top: 2px;
}

/* top of the page*/
table {
  width:100%;
  text-align: center;
}

h1 {
	font-size: 40px;
	text-align: center;
	-webkit-text-stroke: .5px #947b50;
}

h2 {
    text-align: center;
    -webkit-text-stroke: .2px #947b50;
}
.image {
    float: right;    
    height: 160px;
    width: 80.5px;
	border: 3px solid black;
}

/* navigation links */
nav {
    overflow: hidden;
    background-color: #947b50;
    margin-top: 3px;
    text-align: center;
}

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

nav a:hover {
  background-color: #848b7c;
  color: black;
}


/* area underneath menu bar */
main {
    padding: 40px;
    text-align: center;    
    color: black;
	display: block;
}

/* boxed text */
.textarea {
	display: block;
	border: 1px solid black;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    background-color: #947b50;
    list-style-position:inside;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
    background-color: #947b50;
    text-align: center;
}
div a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

div a:hover {
    background-color: #848b7c;
    color: black;
}

.grid-story {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
    background-color: #947b50;
    text-align: center;
    grid-auto-rows: auto;
    grid-column-gap: 100px;
    overflow-y: auto;
    height: calc(100vh - 400px);
}

code{
    background-color: #9E8854;
}
p {
text-align: left;
}

.benevolent {
    color: indigo;
}

.hostile {
    color: crimson;
}

.neutral {
    color: forestgreen;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9E8854;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #947b50;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848b7c;
 }

